<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/styles/main.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Kalam:wght@300;400;700&family=Pacifico&display=swap"
			rel="stylesheet"
		/>

		<script defer>
			// takes a time in seconds and converts it to a human friendly time
			function humaniseTimeInSeconds(timeInSeconds) {
				if (timeInSeconds < 5) {
					return "a few seconds";
				}

				if (timeInSeconds < 20) {
					return `several seconds`;
				}

				if (timeInSeconds < 60) {
					return `${timeInSeconds} seconds`;
				}

				if (timeInSeconds < 4 * 60) {
					return "A couple of minutes";
				}

				if (timeInSeconds < 10 * 60) {
					const minutes = Math.floor(timeInSeconds / 60);
					const leftoverSeconds = timeInSeconds % 60;
					return `${minutes} minutes and ${leftoverSeconds} seconds`;
				}

				return `quite a while`;
			}

			let time = 0;
			const updateTimeInFooter = () => {
				const footer = document.querySelector("footer");
				const timeContainer = footer.querySelector("#time");
				timeContainer.textContent = humaniseTimeInSeconds(time);
				time += 1;
			};

			document.addEventListener("DOMContentLoaded", () => {
				updateTimeInFooter();
				const i = setInterval(updateTimeInFooter, 1000);
			});
		</script>
	</head>

	<body>
		<div id="root">
			<header class="heading-container">
				<a href="{{ page.url }}">
					<h1 class="heading">{{ title }}</h1>
				</a>
			</header>

			<article class="article">{{ content | safe }}</article>

			<footer>
				Wow, quite the read, Now, after <span id="time"></span>, let's
				head <a href="/">back</a>.
			</footer>
		</div>
	</body>
</html>
