@import url("./base.css");

#root {
	max-width: 72ch;
	margin: 1em auto;
	padding-inline: 4ch;
}

.article {
	*[lang="hi"] {
		font-family: "Kalam";
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Fredericka the Great", serif;
		font-weight: 400;
		margin-block: 0.5em;

		color: var(--heading-text-color);
	}

	p {
		margin-block: 1em;
		line-height: 1.5;
	}

	i,
	em,
	a {
		font-family: "Pacifico", cursive;
	}

	a {
		color: #668397;
		text-decoration: none;
		transition-duration: 150ms;

		&:hover {
			color: #003153;
		}
	}

	li {
		margin-left: 2ch;
	}

	blockquote {
		border-left: 4px solid #003153;
		background-color: color-mix(in srgb, #003153 5%, transparent);
		padding-left: 4ch;
		padding-block: 0.25em;
		font-style: italic;
	}
}
