/*
Contains CSS specific to lists
*/

.article {
	ul > li:has(ul) {
		& > p {
			padding-block: 0.5em;
			padding-inline-start: 2ch;
		}

		& a {
			background-image: radial-gradient(red, blue);
			color: transparent;
			background-clip: text;
		}
	}
}
