@import url("./base.css");

#root {
	max-width: 72ch;
	margin: 1em auto;
	padding-inline: 4ch;
}

.article-list {
	display: flex;
	flex-direction: column;
	gap: 4em;

	.article-excerpt {
		line-height: 1.25;

		.heading {
			font-family: "Fredericka the Great", serif;
			font-weight: 400;
			line-height: 2;

			color: var(--heading-text-color);
		}

		.article-section-text {
			display: flex;
			flex-direction: column;
			gap: 1.25em;
		}
	}
}

.list-of-links {
	a {
		color: inherit;

		&:hover {
			color: #003153;
		}
	}
}

footer {
	i,
	em,
	a {
		font-family: "Sacramento", cursive;
	}

	a {
		color: #668397;
		text-decoration: none;
		transition-duration: 150ms;

		&:hover {
			color: #003153;
		}
	}
}

.weeknotes-list {
	display: flex;
	flex-direction: column;
	gap: 8px;

	li {
		list-style: none;

		a {
			text-decoration: none;
		}
	}

	li:nth-child(even) {
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: wrap;
	}

	table {
		width: 100%;

		td {
			font-family: "Fredericka The Great", sans-serif;
			border: 1px solid var(--heading-text-color);
			font-size: 2em;
			font-weight: 200;
			color: color-mix(
				in hsl,
				var(--heading-text-color) 50%,
				transparent
			);
			padding: 0.5em;
		}
	}
}
