* {
	margin: 0;
	padding: 0;
}

:root {
	--heading-text-color: rgb(63, 63, 63);
	--content-text-color: rgb(95, 95, 95);
}

body {
	color: var(--content-text-color);
}

#root {
	max-width: 72ch;
	margin: 1em auto;
	padding-inline: 4ch;
}

.heading-container {
	margin-block: 5em;
	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;

	a {
		text-decoration: none;
		color: inherit;
	}

	.heading {
		font-family: "Fredericka the Great", serif;
		font-weight: 400;
		line-height: 1.5;

		color: var(--heading-text-color);

		text-decoration: underline;
		text-underline-offset: 0.5em;
		transition-duration: 200ms;

		&:hover {
			color: #003153;
			text-underline-offset: 0.25em;
		}
	}
}

.article-list {
	display: flex;
	flex-direction: column;
	gap: 4em;

	.article-excerpt {
		line-height: 1.25;

		.heading {
			font-family: "Fredericka the Great", serif;
			font-weight: 400;
			line-height: 2;

			color: var(--heading-text-color);
		}

		.article-section-text {
			display: flex;
			flex-direction: column;
			gap: 1.25em;
		}
	}
}

.list-of-links {
	a {
		color: inherit;

		&:hover {
			color: #003153;
		}
	}
}

.article {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Fredericka the Great", serif;
		font-weight: 400;
		margin-block: 0.5em;

		color: var(--heading-text-color);
	}

	p {
		margin-block: 1em;
		line-height: 1.5;
	}

	i,
	em,
	a {
		font-family: "Pacifico", cursive;
	}

	a {
		color: #668397;
		text-decoration: none;
		transition-duration: 150ms;

		&:hover {
			color: #003153;
		}
	}

	li {
		margin-left: 2ch;
	}

	blockquote {
		border-left: 4px solid #003153;
		background-color: color-mix(in srgb, #003153 5%, transparent);
		padding-left: 4ch;
		padding-block: 0.25em;
		font-style: italic;
	}
}

footer {
	i,
	em,
	a {
		font-family: "Pacifico", cursive;
	}

	a {
		color: #668397;
		text-decoration: none;
		transition-duration: 150ms;

		&:hover {
			color: #003153;
		}
	}
}
