<footer class="footer">
    <h2>The End</h2>

    <div>
        Wow, quite the read, Now, that you've spent
        <time id="time"></time> here let's head <a href="/">back</a> and
        see what else we&apos;ve got.
    </div>

    <hr />

    <div class="webring">
        <p>This website is inspired in part by the works of various people at Indie Web Club in Bangalore, please check out other member websites via the webring below</p>

        <div>
            <a href="https://blr.indiewebclub.org/webring/previous.html">← Previous</a> /
            <a href="https://blr.indiewebclub.org/">IndieWebClub Bangalore</a> /
            <a href="https://blr.indiewebclub.org/webring/next.html">Next →</a>
        </div>
    </div>

    <hr />

    <div class="badge-gallery">
        <h3>Badge Gallery</h3>
        <div class="gallery">
            <a href="https://11ty.dev">
                <img src="/assets/badges/built-with-eleventy.gif" alt="built with 11ty" />
            </a>
            <img src="/assets/badges/created-by-human.png" alt="created by a human" />
        </div>
    </div>
</footer>

<script defer>
	// takes a time in seconds and converts it to a human friendly time
	function humaniseTimeInSeconds(timeInSeconds) {
		if (timeInSeconds < 5) {
			return "a few seconds";
		}

		if (timeInSeconds < 20) {
			return `several seconds`;
		}

		if (timeInSeconds < 60) {
			return `${timeInSeconds} seconds`;
		}

		if (timeInSeconds < 4 * 60) {
			return "A couple of minutes";
		}

		if (timeInSeconds < 10 * 60) {
			const minutes = Math.floor(timeInSeconds / 60);
			const leftoverSeconds = timeInSeconds % 60;
			return `${minutes} minutes and ${leftoverSeconds} seconds`;
		}

		return `quite a while`;
	}

	let time = 0;
	const updateTimeInFooter = () => {
		const footer = document.querySelector("footer");
		const timeContainer = footer.querySelector("#time");
		timeContainer.textContent = humaniseTimeInSeconds(time);
		time += 1;
	};

	document.addEventListener("DOMContentLoaded", () => {
		updateTimeInFooter();
		const i = setInterval(updateTimeInFooter, 1000);
	});
</script>
